# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Local development DB
rcpt.db

# =========================
# .NET / C# build artifacts
# =========================
bin/
obj/

# =========================
# Editor / IDE
# =========================
.vscode/

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db